name: Cypress Tests

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run tests (e.g., Staging, Production)'
        required: true
        default: 'Staging'

jobs:
  cypress:
    runs-on: ubuntu-latest

    env:
      ENVIRONMENT: ${{ github.event.inputs.environment }}
      STAGING_BACKEND_BASE_URL: ${{ github.event.inputs.environment.STAGING_BACKEND_BASE_URL }}
      STAGING_WEBSITE_BASE_URL: ${{ github.event.inputs.environment.STAGING_WEBSITE_BASE_URL }}
      PRODUCTION_BACKEND_BASE_URL:  ${{ github.event.inputs.environment.PRODUCTION_BACKEND_BASE_URL }}
      PRODUCTION_WEBSITE_BASE_URL:  ${{ github.event.inputs.environment.PRODUCTION_WEBSITE_BASE_URL }}
      # PRODUCTION_BACKEND_BASE_URL: https://desibook.admin.linkedunion.com
      # PRODUCTION_WEBSITE_BASE_URL: https://desibook.web.linkedunion.live

    steps:

      - name: Test Deployment
        run: echo ${{ env.PRODUCTION_BACKEND_BASE_URL }} 

      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2

      - name: Install Dependencies
        run: |
          npm install cypress --save-dev
          npm install dotenv --force

      - name: Print Environment Variables
        run: |
          echo "Environment: $ENVIRONMENT"
          echo "Backend URL: $BACKEND_BASE_URL"
          echo "Website URL: $WEBSITE_BASE_URL"

      - name: Run Cypress Tests
        run: |
          npx cypress run --spec cypress/e2e/Regression_tests/regression_backend.cy.js
