name: Cypress Tests

on:
    push:
      branches: [main, master]

jobs:
  cypress:
    runs-on: ubuntu-latest
    env:
      ENVIRONMENT: ${{ github.event.inputs.environment }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2

      - name: Install Dependencies
        run: npm install cypress --save-dev

      - name: Run Cypress Tests
        run: |
          if [ "$ENVIRONMENT" == "Pre-Staging" ]; then
            npx cypress run --spec cypress/e2e/Regression_tests/regression_backend.pre-staging.cy.js
          elif [ "$ENVIRONMENT" == "STAGING" ]; then
            npx cypress run --spec cypress/e2e/Regression_tests/regression_backend.staging.cy.js
          elif [ "$ENVIRONMENT" == "PRODUCTION" ]; then
            npx cypress run --spec cypress/e2e/Regression_tests/regression_backend.production.cy.js
          else
            echo "Unknown : $ENVIRONMENT"
          fi
